.auth {
    background-image: url('../../../../assets/images/Group\ 48101665.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
