<div class="auth-card m-3">
    <div class="ms-auto text-end  w-25 a mt-2 ">
        <i style="font-size: 20px;color: rgb(170, 11, 11);" class="fa-solid  fa-circle-xmark "
            (click)="onNoClick()"></i>
    </div>
    <div class="w-50 text-center  mx-auto mb-3 ">
        <img src="../../assets/images/4 4.svg" class="w-100" alt="">
    </div>
    <h1 class="mb-0 pb-0 h6">Change Your Password</h1>
    <p class="mt-1 pt-0 ">Enter your details below</p>
    <!-- tostar -->
    <div class="w-25 alert-container">
        <div *ngIf="apiSuccess" class="alert alert-design alert-success  w-100 ms-auto ">
            <i class="fa-solid fa-circle-check mx-2 text-light"></i>
            <p class="p-0 m-0 text-light">{{apiSuccess}}</p>
        </div>
        <div *ngIf="apiError" class="alert alert-design alert-danger w-100 ms-auto ">
            <i class="fa-solid fa-circle-xmark mx-2 text-light"></i>
            <p class="m-0 p-0 text-light"> {{apiError}} </p>
        </div>
    </div>
    <!-- changePassForm -->
    <form (ngSubmit)="onChangePass(changePassForm)" [formGroup]="changePassForm">
        <div class="row ">
            <div class="col-md-12">
                <div class="input-group my-2">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="input-line"></span>

                    <input formControlName="oldPassword" [type]="hide? 'password':'text'" class="form-control"
                        placeholder="Old Password" aria-label="Username" aria-describedby="basic-addon1">
                    <span (click)="hide=!hide" class="input-group-text" id="basic-addon1">
                        <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-group my-2">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="input-line"></span>
                    <input formControlName="newPassword" [type]="hide? 'password':'text'" class="form-control"
                        placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1">
                    <span (click)="hide=!hide" class="input-group-text" id="basic-addon1">
                        <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-group my-2">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="input-line"></span>
                    <input formControlName="confirmNewPassword" [type]="hide? 'password':'text'" class="form-control"
                        placeholder="Confirm New Password" aria-label="Username" aria-describedby="basic-addon1">
                    <span (click)="hide=!hide" class="input-group-text" id="basic-addon1">
                        <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                    </span>
                </div>
            </div>

        </div>
        <div class="d-flex align-items-center justify-content-end mt-4">
            <!-- <button (click)="onNoClick()" type="button" class="btn btn-outline-danger w-25 mx-2 "
                style="padding: 0.6rem 0.4rem;">
                Cancle
            </button> -->
            <button type="submit" class="primary w-25 mx-2 ">
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin " style="color: white;"></i>
                <span *ngIf="!isLoading">Change Password</span>
            </button>

        </div>

    </form>

</div>