.auth {
    background-image: url("../../../../assets/images/Frame 48101665.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    ngx-dropzone{
       height: 50%!important; 
    }
}
