.page-title{
    background-image: url('../../../assets/images/header-bg-svg.svg');
    background-repeat: no-repeat;
    background-position: 100% 100% ;
    background-size: cover ;
    background-color: rgba(0, 146, 71, 1)!important;
    border-radius: 18px!important;
    color: #fff;
    span{
        font-size: 18px;
        font-weight: 400;
    }
}