<section class="auth">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8 p-5">
                <div class="auth-card p-5">
                    <div class="text-end mt-2  ">
                        <i class="close-icon fa-solid  fa-circle-xmark " (click)="onNoClick()"></i>
                    </div>
                    <div class="w-50 text-center  mx-auto">
                        <img src="../../assets/images/4 4.svg" class="w-100" alt="">
                    </div>
                    <h1 class="mb-0 pb-0">Forgot Your Password?</h1>
                    <p class="mt-1 pt-0">No worries! Please enter your email and we will send a password reset link</p>
                    <form (ngSubmit)="onForgetPassword(forgetForm)" [formGroup]="forgetForm">
                        <div class="input-group  mb-2 mt-4">
                            <span class="input-group-text  " id="basic-addon1">
                                <i class="fa-regular fa-envelope"></i>
                            </span>
                            <span class="input-line"></span>
                            <input formControlName="email" type="email" class="form-control"
                                placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched"
                            class="alert alert-danger p-2 mt-0 ">
                            <p *ngIf="forgetForm.get('email')?.getError('required')|json" class="mb-0">Email is Required
                            </p>
                            <p *ngIf="forgetForm.get('email')?.getError('email')|json" class="mb-0">Email inavaliable
                            </p>
                        </div>

                        <button type="submit" [disabled]="forgetForm.invalid" class="primary w-100 mt-4">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin " style="color: white;"></i>
                            <span *ngIf="!isLoading">Submit</span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>