<section>
    <div class="page-title p-1">
        <div class="d-flex justify-content-between align-items-center">
            <div class="ms-3">
                <h1>Recipes <span>item</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ipsam!</p>
            </div>
            <div class="me-3">
                <img class="w-100" src="../../../assets/images/Group 48102127.svg" alt="">
            </div>
        </div>
    </div>


    <div class="py-5">
        <!-- tostar -->
        <div class="w-25 alert-container" >
            <div *ngIf="apiSuccess" class="alert alert-design alert-success  w-100 ms-auto mt-4">
                <i class="fa-solid fa-circle-check mx-2 "></i>
              <p class="p-0 m-0">{{apiSuccess}}</p>  
            </div>
            <div *ngIf="apiError" class="alert alert-danger w-100 ms-auto mt-4">
                <i class="fa-solid fa-circle-xmark mx-2"></i>
                 <p class="m-0 p-0"> {{apiError}}  </p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center my-3">
            <h2 class="h4">Recipes Table Detalies</h2>

        </div>
        <p>you can check all details</p>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-form-field w-100" appearance="outline">
                        <mat-label>Recipe Name</mat-label>
                        <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="getRecipeDate()">
                        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
                            (click)="searchValue='';getRecipeDate()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Tag</mat-label>
                        <mat-select [(ngModel)]="tagId" (selectionChange)="getRecipeDate()">
                            <mat-option value="0">All</mat-option>
                            <mat-option *ngFor="let tag of listTags" [value]="tag.id">{{tag.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="categoryId" (selectionChange)="getRecipeDate()">
                            <mat-option value="0">All</mat-option>
                            <mat-option *ngFor="let item of listCategories" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <!-- <div class="container">
            <div class="row py-5">
                <div class="col-md-4" *ngFor="let item of listData.data">
                    <div class="position-relative card">
                        <img [src]="item.imagePath?imgUrl+item.imagePath:emptyImg"
                            class="w-100 rounded-top-2 rounded-bottom-5" alt="">
                        <div class="p-2">
                            <h3>{{item.name}}</h3>
                            <span
                                class="position-absolute top-0 end-0 badge text-bg-light shadow-sm m-2">{{item.price|currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <table class="table table-striped " style="vertical-align: middle;text-align: center;">
            <thead class="">
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Dsc</th>
                <th>Tag</th>
                <th>Category</th>
            </thead>
            <tbody *ngIf="listData?.data.length>0" class="">

                <tr class=" " *ngFor="let item of listData.data">
                    <td>{{item.name}}</td>
                    <td class="w-25">

                        <img [src]="item.imagePath?imgUrl+item.imagePath:emptyImg" class="w-25" alt="">
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.tag.name}}</td>
                    <td>
                        <span *ngFor="let category of item.category">
                            {{category.name}} <span *ngIf="item.category.length>1">,</span>

                        </span>
                    </td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="openDialogDelete(item.id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                            <button (click)="openDialogFav(item.id)" mat-menu-item>
                                <mat-icon>favorite</mat-icon>
                                <span>Favorite</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>

        </table> 

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)"
            [length]="listData?.totalNumberOfRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25 ,100]"
            [pageIndex]="pageNumber" aria-label="Select page">
        </mat-paginator>

    </div>

</section>