<section class="bg-dark-main vh-100 border-rigth pt-3 " >
    <div class="my-3">
        <img src="../../../assets/images/3.svg" class="w-100" alt="">
    </div>
    <div class="">
        <ul class="px-0">
            <ng-container *ngFor="let item of menue">
                <li class="mb-2" *ngIf="item.isActive">
                    <a [routerLink]="item.link" routerLinkActive="active-ul" class="item d-block">
                        <span><i [class]="item.icon"></i></span>
                        <span>{{item.text}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</section>