<section class="auth">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8 p-5">
                <div class="auth-card p-5">
                    <div class="w-50 text-center  mx-auto">
                        <img src="../../assets/images/4 4.svg" class="w-100" alt="">
                    </div>
                    <h1 class="mb-0 pb-0">Reset Password</h1>
                    <p class="mt-1 pt-0">Please Enter Your Otp or Check Your Inbox</p>
                    <!-- tostar -->
                    <div class="w-25 alert-container">
                        <div *ngIf="apiSuccess" class="alert alert-design alert-success  w-100 ms-auto ">
                            <i class="fa-solid fa-circle-check mx-2 text-light"></i>
                            <p class="p-0 m-0 text-light">{{apiSuccess}}</p>
                        </div>
                        <div *ngIf="apiError" class="alert alert-design alert-danger w-100 ms-auto ">
                            <i class="fa-solid fa-circle-xmark mx-2 text-light"></i>
                            <p class="m-0 p-0 text-light"> {{apiError}} </p>
                        </div>
                    </div>
                    <form (ngSubmit)="onResetPass(resetPassForm)" [formGroup]="resetPassForm">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="input-group  my-2">
                                    <span class="input-group-text  " id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>
                                    </span>
                                    <span class="input-line"></span>
                                    <input formControlName="email" type="email" class="form-control" placeholder="Email"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div *ngIf="resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched"
                                    class="alert alert-danger p-2 mt-0 ">
                                    <p *ngIf="resetPassForm.get('email')?.getError('required')|json" class="mb-0">Email
                                        is Required </p>
                                    <p *ngIf="resetPassForm.get('email')?.getError('email')|json" class="mb-0">Email
                                        inavaliabl </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input-group  my-2">
                                    <span class="input-group-text  " id="basic-addon1">
                                        <i class="fa-solid fa-mobile-screen"></i>
                                    </span>
                                    <span class="input-line"></span>
                                    <input formControlName="seed" type="text" class="form-control" placeholder="OTP"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div *ngIf="resetPassForm.get('seed')?.errors && resetPassForm.get('seed')?.touched"
                                    class="alert alert-danger">
                                    <p *ngIf="resetPassForm.get('seed')?.getError('required')|json" class="mb-0">
                                        seed is Required </p>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="input-group my-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <span class="input-line"></span>

                                    <input formControlName="password" [type]="hide? 'password':'text'"
                                        class="form-control" placeholder=" New Password" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span (click)="hide=!hide" class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input-group my-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <span class="input-line"></span>
                                    <input formControlName="confirmPassword" [type]="hide? 'password':'text'"
                                        class="form-control" placeholder="Confirm New Password" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span (click)="hide=!hide" class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="primary w-100 mt-4">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin " style="color: white;"></i>
                            <span *ngIf="!isLoading">Reset Password</span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>