<section>
  <div class="text-end m-3">
    <a class="text-danger mat-icon-style" (click)="onNoClick()"><i class="fa-solid fa-xmark-circle "> </i></a>
  </div>
  <div class="container">
    <div class="row py-3">
      <div class="text-center ">
        <img src="../../../assets/images/delete-img.svg" alt="" class="w-50 p-5">
        <h5 class="mt-2 fw-bold">Add To Favorite </h5>
      </div>
      <div class="text-end ">
        <hr>
        <button class="primary w-25"  [mat-dialog-close]="data.id" cdkFocusInitial>Add To Fav</button>
      </div>
    </div>
  </div>
</section>